* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  margin: 0;
}
/* Navbar */
.header {
  height:70px;
  background: black;
  color: whitesmoke;

  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1{
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.header ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px
}

.header a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
}

.header a:hover{
  text-decoration: underline;
}

/* Products */
.product-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  background: white;
}

/* Gallery */
.gallery {
  width: 45%;
}

.main-img {
  width: 100%;
  border-radius: 6px;
}

.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbs img {
  width: 80px;
  cursor: pointer;
  border: 1px solid #ccc;
}

/* Details */
.details {
  width: 55%;
}

.price {
  color: green;
  font-size: 24px;
  margin: 10px 0;
}

/* Variants */
.variant {
  margin: 20px 0;
}

.variant button {
  margin-right: 10px;
  padding: 8px 12px;
  border: 1px solid #aaa;
  background: white;
  cursor: pointer;
}

/* Colors */
.color {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.black { background: black; }
.brown { background: brown; }
.blue { background: navy; }

/* Cart Button */
.cart-btn {
  margin-top: 20px;
  padding: 12px;
  width: 200px;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Related Products */
.related {
  padding: 40px;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
}

.card img {
  width: 100%;
}
